[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Micorservice-Ecommerce/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Micorservice-Ecommerce/product-microservice.git
